.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.containerItems {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.categoryTitle {
    margin-top: 3.125rem;
    margin-bottom: 1.875rem;
}